body {
    background: linear-gradient(to right, #bfdbfe, #60a5fa);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em;
    width: 90%;
    max-width: 800px;
    padding: 1em;
}

.ticket-count {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 2em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: #1F2937;
    margin-bottom: 1.5rem;
    width: 95%;
    max-width: 900px;
    transition: background-color 0.4s ease;
}


h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.ticket-count strong {
    font-size: 2rem;
}

.ticket-count span {
    margin-top: 0.5em;
    font-size: 4rem;
}

.btn {
    background-color: #ffffff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    margin: 0.5rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background-color: #2563EB;
    color: whitesmoke;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.8px);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6);
}

.qrCode {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1em auto;
}

.marginForBottom {
    margin-top: 5em;
}

@media (max-width: 640px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1F2937;
        background-color: #f8fafc;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        width: 90%;
        max-width: 600px;
        padding: 1em;
        height: auto;
    }

    .ticket-count {
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        padding: 1.5em;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        font-size: 1.2rem;
        color: #1F2937;
        margin-bottom: 1em;
        width: 95%;
        max-width: 600px;
        transition: background-color 0.4s ease;
    }

    h1 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .ticket-count strong {
        font-size: 1.5rem;
    }

    .ticket-count span {
        margin-top: 0.5em;
        font-size: 3rem;
    }

    .btn {
        background-color: #ffffff;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
        margin: 0.5rem 0;
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .btn:hover {
        background-color: #2563EB;
        color: whitesmoke;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-0.8px);
    }

    .btn:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6);
    }

    .qrCode {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 1em auto;
    }
}